//- Used for setting the page's `title` tag.
//-
//- We want to make sure the name of the site is still used in the title, but we
//- also want names for each of the pages so they can be distinguished easily.
mixin siteTitle(pageName)
  | #{pageName} &ndash; #{self.title}


//- Mixins for generating site-specific content.
//-
//- Everything here is based off of the site's needs and written according to
//- the styling.

mixin header(title)
  h1.side-lines= title

mixin section(id)
  section(id=id, class="wrapper--content")
    block

//- This:
//-
//-   +picture("/img/picture.png", "http://example.com", "A picture!")
//-   | A little caption underneath the picture describing it.
//-
//- Becomes this:
//-
//-   <figure class="photo">
//-     <a href="http://example.com" title="A picture!"
//-       <img class="photo__image js-color-scroll grayscale"
//-            src="/img/picture.png">
//-     </a>
//-
//-     <figcaption class="photo__caption">
//-       A little caption underneath the picture describing it.
//-     </figcaption>
//-   </figure>
mixin picture(imageUrl, href, title)
  figure.photo
    a.photo__link(href=href title=title)
      img.photo__image.js-color-scroll.transition--slow.coloring--grayscale(src=imageUrl)

    if block
      figcaption.photo__caption
        block
