
.post
  %h1.post__title
    = current_page.data.title

  %article.post__contents
    = current_article.body

  %footer.post__meta
    / %p.post__author
    /   by
    /   = current_page.data.author

    %p.post__date
      = format_time("%B %d, %Y", current_page.date)

    %p.post__tags
      Tagged with
      - current_article.tags.each do |tag|
        = link_to tag, tag_path(tag)

    %a{:href => "/blog/"} Back to blog

  .post__comments
    = disqus
