---
title: Blog
pageable: true
---

%h2
  Archive for
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime("%B #{day.ordinalize}, %Y")
  - when 'month'
    = Date.new(year, month, 1).strftime("%B, %Y")
  - when 'year'
    = year

%p= prev_page()

%ul
  - page_articles.each_with_index do |article, i|
    %li
      = link_to article.title, article

%p= next_page()
